<html>

<head>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <title> Загружай! </title>

</head>

<body>
  <div class="container">
<div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <h2> Ваш помошник по загрузке большого количества таваров в несколько кликов </h2>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
        <div class="col-md-6">
          <div class="center-block">
          <h3 class="header">Шаг 1:</h3>
        </div>
      </div>
      <div class="col-md-6">
        <h3> Пожалуйста скачайте нашу заготовку excel</h3>
          <p> Выберете Вашу версию Excel и скачайте</p>
      <form id="formd">
        <div class="row">
          <div class="col-md-6">
            <label><input type="radio" name="format" value="xls"> Microsoft Excel 2003-2009 </label>
            <label><input type="radio" name="format" value="xlsx" checked> Microsoft Excel 2009-2017</label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" form="formd">Download&hellip; </button>
      </form>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="row">
  <div class="col-md-6">
    <h3>Шаг 2:</h3>
  </div>
  <div class="col-md-6">
      <h3> Заполните все столбцы в соответствии с их заголовками</h3>
      <p> Пожалуйста заполните все столбцы корректно во избежание ошибок</p>
      </div>
    </div>
  </div>
<div class="col-md-12">
  <div class="row">
  <div class="col-md-6">
    <h3>Шаг 3:</h3>
  </div>
  <div class="col-md-6">
      <h3> Пожалуйста выберете Ваш готовый файл</h3>
      <p> Выберете Ваш файл </p>
      <form name="upload">
        <label class="btn btn-primary">Browse&hellip;
          <input type="file" name='myfile' id="InputFiles" style="display:none"/>
        </label>
      </form>
      </div>
    </div>
  </div>
</div>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/tether.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/excel/excelP/dist/xlsx.full.min.js"></script>
  <script src="/assets/js/excel/parse&upload.js"></script>

</body>

</html>
